<div class="timeline">
  <div class="timeline-dots-container">
    <ng-container *ngFor="let year of yearsToShow; let isLast = last">
      <div class="timeline-year">
        <a href="#">{{ year }}</a>
        <span>»</span>
      </div>

      <ng-container *ngFor="let appointment of appointmentsByYear[year]">
        <div class="timeline-dot-wrapper">
          <div class="timeline-dot"></div>
          <div *ngIf="!isLast" class="timeline-line"></div>
        </div>
      </ng-container>
    </ng-container>

    <a href="#" class="timeline-view-all" (click)="onViewAll()">View All</a>
  </div>

  <div class="timeline-dates-container">
    <ng-container *ngFor="let year of yearsToShow">
      <ng-container *ngFor="let appointment of appointmentsByYear[year]">
        <div class="timeline-content">
          <div class="timeline-date">{{ formatDateToMonth(appointment.date) }}</div>
          <div class="timeline-type">{{ appointment.type }}</div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
