.timeline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
  }
  
  .timeline-dots-container {
    display: flex;
    align-items: center;
    background-color: #CCE5E4; 
    padding: 10px 15px;
    border-radius: 15px;
    margin-bottom: 10px;
    width: auto;
    overflow-x: auto;
  }
  
  .timeline-dot-container {
    display: flex;
    align-items: center;
    position: relative; 
    margin-right: 45px;
  }
  
  .timeline-dot {
    width: 8px;
    height: 8px;
    background-color: #007B76;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  }
  
  .timeline-line {
    width: 40px;
    height: 2px;
    background-color: #007B76;
    position: absolute;
    transform: translateX(30%); 
  }
  
  .timeline-view-all {
    font-size: 12px;
    font-weight: bold;
    color: #007B76;
    text-decoration: none;
    margin-left: 20px; 
    cursor: pointer;
  }
  
  .timeline-view-all:hover {
    text-decoration: underline;
  }
  
  .timeline-content-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    width: auto;
  }
  
  .timeline-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
  }
  
  .timeline-date {
    font-size: 10px;
    font-weight: bold;
    color: #007B76;
  }
  
  .timeline-type {
    font-size: 8px;
    color: #555;
  }
  